<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <script>
        function submitForm(id) {
            let form = document.getElementById('form-' + id);
            if(form) form.submit();
        }
    </script>
</head>
<body>

<section class="banner courses archive section">
    <span th:if="${message}">
        <h1 style="text-align: center; padding-bottom:200px;color: #4B5563;" th:text="${message}"></h1>
    </span>
    <span th:if="${message == null}">
        <h1 style="text-align: center;color: #4B5563;" th:text="${title}"></h1>
    </span>

    <div class="container">
        <div class="row">
            <th:block th:each="course : ${courseList}">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-course">
                        <div class="course-head overlay">
                            <img th:src="@{'/image/courses/course' + ${course.imageId} + '.jpg'}" alt="#"/>

                            <span th:if="${session.user == null}">
                                <a th:href="@{/signup}" class="btn white primary" style="border-radius:4rem!important;">Register Now</a>
                            </span>

                            <span th:if="${session.user != null}">
                                <div th:switch="${session.user.role}">
                                    <!-- Admin -->
                                    <span th:case="'admin'">
                                        <form th:id="'form-' + ${course.id}" th:action="@{/init-manage-course}" method="post" th:object="${course}">
                                            <input type="hidden" name="id" th:value="${course.id}" />
                                            <input type="hidden" name="imageId" th:value="${course.imageId}" />
                                            <input type="hidden" name="courseName" th:value="${course.courseName}" />
                                            <input type="hidden" name="courseDescription" th:value="${course.courseDescription}" />
                                            <input type="hidden" name="duration" th:value="${course.duration}" />
                                            <input type="hidden" name="trainer" th:value="${course.trainer}" />
                                            <input type="hidden" name="rating" th:value="${course.rating}" />
                                            <input type="hidden" name="price" th:value="${course.price}" />
                                            <a class="btn white primary" style="border-radius:4rem!important;" th:onclick="'submitForm(' + ${course.id} + ')'">Manage Course</a>
                                        </form>
                                    </span>

                                    <!-- User -->
                                    <span th:case="'user'">
                                        <a th:if="${!course.isEnrolled}" th:href="@{/enroll/{id}(id=${course.id})}" class="btn before-enrolled white primary" style="border-radius:4rem!important;">Enroll Now</a>
                                        <a th:if="${course.isEnrolled}" class="btn enrolled-btn white primary" style="border-radius:4rem!important;">Already Enrolled</a>
                                    </span>
                                </div>
                            </span>
                        </div>

                        <div class="course-body">
                            <div class="name-price">
                                <div class="teacher-info">
                                    <img th:src="@{'/image/teachers/author' + ${course.imageId} + '.jpg'}" alt="#"/>
                                    <h4 class="title" th:text="${course.trainer}"></h4>
                                </div>
                                <span th:if="${course.price != 0}" class="price" th:text="'₹' + ${course.price} + '/-'"></span>
                                <span th:if="${course.price == 0}" class="price">FREE</span>
                            </div>

                            <form th:id="'form-detail-' + ${course.id}" th:action="@{/init-course-detail}" method="post" th:object="${course}">
                                <input type="hidden" name="id" th:value="${course.id}" />
                                <input type="hidden" name="imageId" th:value="${course.imageId}" />
                                <input type="hidden" name="courseName" th:value="${course.courseName}" />
                                <input type="hidden" name="courseDescription" th:value="${course.courseDescription}" />
                                <input type="hidden" name="duration" th:value="${course.duration}" />
                                <input type="hidden" name="trainer" th:value="${course.trainer}" />
                                <input type="hidden" name="rating" th:value="${course.rating}" />
                                <input type="hidden" name="price" th:value="${course.price}" />
                                <h4 class="c-title">
                                    <a th:onclick="'submitForm(' + ${course.id} + ')' " th:text="${course.courseName}"></a>
                                </h4>
                            </form>

                            <p th:text="${course.courseDescription}"></p>
                        </div>

                        <div class="course-meta">
                            <ul class="rattings">
                                <li><i class="fa fa-star" style="color: #6674CC!important;"></i></li>
                                <li th:if="${course.rating >= 2}"><i class="fa fa-star" style="color: #6674CC!important;"></i></li>
                                <li th:if="${course.rating >= 3}"><i class="fa fa-star" style="color: #6674CC!important;"></i></li>
                                <li th:if="${course.rating >= 4}"><i class="fa fa-star" style="color: #6674CC!important;"></i></li>
                                <li th:if="${course.rating >= 5}"><i class="fa fa-star" style="color: #6674CC!important;"></i></li>
                                <li th:if="${course.rating == 2.5 or course.rating == 3.5 or course.rating == 4.5}"><i class="fa fa-star-half-o" style="color: #6674CC!important;"></i></li>
                                <li class="point" th:text="${course.rating}"><span></span></li>
                            </ul>
                            <div class="course-info">
                                <span><i class="fa fa-users"></i>2.4k Enrolled</span>
                                <span><i class="fa fa-calendar-o"></i> <span th:text="${course.duration}">0</span> Days </span>
                                <span><i class="fa fa-clock-o"></i>09:30 - 12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>
</body>
</html>
